.cabecalho{
    display: flex;
    justify-content: space-between;       
    height: 70px;
    background-color: rgb(48, 28, 102);
    border: 2px solid black;
    flex-direction: row;
}

.grupo-esquerda{
    display: flex;
}

.cabecalho-2{
    margin-left: auto;
}


.home{
    background-color: rgb(68, 0, 255);
    width: 88px;
    height: 68px;
    background-size: cover;
    border: 2px solid white;
}

.home img{
    margin-left: 15px;
    margin-top: 5px;
}

.borda{
    border-right: 2px solid black;
}

.playlist-1{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.borda-2{
    border-right: 2px solid black;
}

.playlist-2{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.perfil{
    margin: auto;
}

.barra-inicial{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px 150px 100px 1fr;
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
    background-color: rgb(140, 104, 240);
    border: 2px solid black;
    border-bottom: none;
    top: 70px;
    height: 70px;
}

.barra-de-pesquisa input {
    width: 95%;
    height: 30px;
     margin-top: 5px;
}

.barra-de-pesquisa button{
    height: 30px;
    width: 40px;
    margin-left: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
    background-color: black;
}

.barra-de-pesquisa button img{
    padding-top: 2px;
    padding-left: 2px;
    background-color: black;
}

.novidades{
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid white;
    border-bottom: none;
    padding: 5px;
    padding-left: 20px;
    padding-bottom: 22px;
    background-color: rgb(186, 161, 255);
}

.recomendacoes{
    margin-top: 5px;
}

.categorias{
     margin-top: 5px;
}
.cabecalho a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.barra-inicial a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(186, 161, 255);
    border: 2px solid black;
    border-top: 2px solid white;
    padding-top: 50px;
}

.carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.seta{
    font-size: 60px;
    background: none;
    border: none;
    color:white;
    cursor: pointer;
    transition: 0.3s;
}

.seta:hover{
    transform: scale(1.2);
}

.painel{
    display:flex;
    background:#6d35b3;
    border:3px solid #4f3179;
    width: 1000px;
    height: 450px;
    box-shadow: 3px 5px 20px rgb(39, 39, 39);
}
.imagem-area{
    width: 55%;
    height:100%;
}

#capa{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos{
    width: 25%;
    padding: 20px;
    border-left:3px solid #4f3179;
    color:white;
}

#nome{
    font-size: 28px;
}

.linha{
    width: 100px;
    height: 4px;
    background:white;
    margin-bottom:20px;
}

#descricao{
    font-size: 15px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.tags{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tags span{
    background:#8c59d6;
    padding: 8px 12px;
    border-radius: 20px;
}
.artista{
    width:20%;
    border-left:3px solid #4f3179;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color:white;
}

#foto-artista{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border:3px solid white;
}

#nome-artista{
    margin-top: 20px;
    text-align: center;
}

#descricao-artista{
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-10{
    display:flex;
    gap:30px;
    align-items:flex-start;
}

.titulo {
    color:black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo h1{
     text-shadow: 2px 2px 0px white;
}

.alinhar{
    display: flex;
    flex-direction: column;
}

.lista{
    width:600px;
}

#capinha{
    width: 40px;
    height: 40px;
    border: #4f3179 solid 2px;
    object-fit: cover;
}

.musga{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background:#6d35b3;
    border: 2px solid #4f3179;
    color:white;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.musga h1{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.painel-info{
    margin-top: 110px;
    width: 300px;
    background:#5d22b3;
    border: 2px solid #4f3179;
    padding: 20px;
    color:white;
    box-shadow: 4px 5px 15px rgb(0, 0, 0);
}

#mini-capa{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.rodapé{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    height: 140px;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 4%;
    line-height: 0.7;
    background-color: #a99abb;
    border: 2px solid black;
    border-top: none;
}

.rodapé h1{
    color:#1f004e;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parte-1-icons{
    padding-left: 15px;
}

.rodapé p{
    font-size: 16px;
}

.rodapé a{
    font-size: 16px;
    color: black;
}

.embaixo{
    background-color: #7f6a9c;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-top: none;
    padding: 10px;
    color: #140130;
}