.cabecalho{
    display: flex;
    justify-content: space-between;       
    height: 70px;
    background-color: rgb(48, 28, 102);
    border: 2px solid black;
    flex-direction: row;
}

.grupo-esquerda{
    display: flex;
}

.cabecalho-2{
    margin-left: auto;
}

.home{
    background-color: rgb(68, 0, 255);
    width: 88px;
    height: 68px;
    background-size: cover;
}

.home img{
    margin-left: 15px;
    margin-top: 5px;
}

.borda{
    border-right: 2px solid black;
}

.playlist-1{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid rgb(0, 0, 0);
}

.borda-2{
    border-right: 2px solid black;
}

.playlist-2{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.barra-inicial{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
    background-color: rgb(140, 104, 240);
    border: 2px solid black;
    border-bottom: none;
    height: 70px;
}

.barra-de-pesquisa input {
    width: 1300px;
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
}

.barra-de-pesquisa button{
    height: 30px;
    width: 40px;
    margin-left: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
    background-color: black;
}

.barra-de-pesquisa button img{
    padding-top: 2px;
    padding-left: 2px;
    background-color: black;
}

.conteudo {
    display:flex;
    flex-direction: column;
    background-color: rgb(181, 138, 221);
}

.cima {
    display: flex;
    height: 50%;
}

.cima h1 {
    margin-left: 14%;
}
.cima img{
    justify-content: flex-start;
    margin-left: 10%;
    border-radius: 50%;
    width: 15%;
    margin-top: 10%;
    box-shadow: 0 1px 10px black;

}

.baixo {
    display: flex;
    height: 50%;
    background-color: rgb(181, 138, 221);
    flex-direction: column;

}

.baixo h1 {
    margin-left: 3%;
}

.baixo-img img{
    justify-content: center;
    margin: 2%;
    border-radius: 50%;
    width: 10%;
    align-items: center;
    box-shadow: 0 1px 10px black;
}

.baixo-img img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s;
}

.baixo-img{
    display: flex;
    justify-content: center;
}

.nomes {
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.nomes h2 {
    margin-top: 3px;
    margin-right: 79px;
    margin-left: 80px;
    text-align: center;
}


.musics-1{
    width: 100px;
    height: 100px;
    background-color: rgb(114, 31, 190);
    box-shadow: 0 1px 10px black;
}

.musics-2{
    width: 100px;
    height: 100px;
    background-color: rgb(114, 31, 190);
    box-shadow: 0 1px 10px black;
}

.rodapé{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    height: 140px;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 4%;
    line-height: 0.7;
    background-color: #a99abb;
    border: 2px solid black;
    border-top: none;
}

.rodapé h1{
    color:#1f004e;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parte-1-icons{
    padding-left: 15px;
}

.rodapé p{
    font-size: 16px;
}

.rodapé a{
    font-size: 16px;
    color: black;
}

.embaixo{
    background-color: #7f6a9c;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-top: none;
    padding: 10px;
    color: #140130;
}

