.cabecalho{
    display: flex;
    justify-content: flex-start;       
    height: 70px;
    background-color: rgb(48, 28, 102);
    border: 2px solid black;
}

.home{
    background-color: rgb(68, 0, 255);
    width: 88px;
    height: 68px;
    background-size: cover;
    border: 2px solid white;
}

.home img{
    margin-left: 15px;
    margin-top: 5px;
}

.borda{
    border-right: 2px solid black;
}

.playlist-1{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.borda-2{
    border-right: 2px solid black;
}

.playlist-2{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.barra-inicial{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px 150px 150px 1fr;
    justify-content: flex-start; 
    height: 70px;
    gap: 20px;
    background-color: rgb(186, 161, 255);
    border: 2px solid black;
    align-items: center;
}

.barra-de-pesquisa input{
    width: 93%;
    height: 30px;
}

.novidades{
    margin-left: 20px;
    border: 2px solid white;
    border-bottom: none;
    padding: 5px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}