.cabecalho{
    display: flex;
    justify-content: flex-start;       
    height: 70px;
    background-color: rgb(48, 28, 102);
    border: 2px solid black;
    position: sticky;
    top: 0px;
}

.home{
    background-color: rgb(68, 0, 255);
    width: 88px;
    height: 68px;
    background-size: cover;
}

.home img{
    margin-left: 15px;
    margin-top: 5px;
}

.borda{
    border-right: 2px solid black;
}

.playlist-1{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid white;
}

.borda-2{
    border-right: 2px solid black;
}

.playlist-2{
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 3px;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.barra-inicial{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
    background-color: rgb(140, 104, 240);
    border: 2px solid black;
    border-bottom: none;
    height: 70px;
}

.barra-de-pesquisa input {
    width: 1300px;
    height: 30px;
    margin-top: 5px;
    margin-left: 20px;
}

.barra-de-pesquisa button{
    height: 30px;
    width: 40px;
    margin-left: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
    background-color: black;
}

.barra-de-pesquisa button img{
    padding-top: 2px;
    padding-left: 2px;
    background-color: black;
}
.playlist{
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
}
.esquerda{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: blueviolet;
    width: 30%;
}
.esquerda td{
    display: flex;
    align-items: start;
    border: 2px solid black;
    padding-right: 60px;
    background-color: #872cdd;
}

.esquerda tr:hover{
    cursor: pointer;
    transform: scale(1.125);
    transition: transform 0.2s;
    color: yellow;
}
.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: rgb(186, 161, 255);
    border: 2px solid black;
}
#capa{
    border: 6px solid rgb(67, 0, 98);
}
.direita{
    width: 35%;
    font-size: 8px;
    background-color: blueviolet;
    border: 2px solid black;
    padding: 20px;
}

#nome{
    font-size: 20px;
    color: blue;
}

#letra{
    font-size: 8px;
    padding: 20px;
}
